extends layout
block header
	title Teste lagoasoft com pug
	meta(name="Description" content="Primeira Página de teste para empresa LagoaSoft")
	meta(name="Keywords" content="teste, LagoaSoft")

block content
	article
		button.button.button-a Button