doctype 5
html
	head
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="style.css")
		block header
	body
		header.cabecalho
			nav(id="menu")
				ul
					li.logo Logo
					li 
						a(href="#") Item 1
					li 
						a(href="#") Item 2
					li 
						a(href="#") Item 3
			button.button.button-menu Button
		block content